# Environments
venv/
.venv/
env/
.env
cv-final/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Datasets & Weights
data/ExDark/
data/ExDark_Anno/
data/*.zip
models/*.pt
*.pt
!models/.keep

# Streamlit / Jupyter
.streamlit/
.ipynb_checkpoints/
runs/

# OS Files
.DS_Store
Thumbs.db

# Cursor AI Agent
FINAL_CURSOR_BLUEPRINT_V2.md
Issues/*
images/*
cv-final/*